src/iot2050-example-serial-modbus-connection.json
[
    {
        "id": "50be4feb.50509",
        "type": "tab",
        "label": "Basic-IOT2050-Example-Serial-Modbus-Connection",
        "disabled": true,
        "info": ""
    },
    {
        "id": "888cc5d1.4424c8",
        "type": "tab",
        "label": "Advanced-IOT2050-Example-Serial-Modbus-Connection",
        "disabled": true,
        "info": ""
    },
    {
        "id": "1273665b.f6db8a",
        "type": "serial-port",
        "z": "50be4feb.50509",
        "serialport": "/dev/ttyS2",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "",
        "bin": "false",
        "out": "count",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "48d94f41.f3419",
        "type": "modbus-client",
        "z": "50be4feb.50509",
        "name": "iot2050 basic configuration",
        "clienttype": "simpleser",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "tcpHost": "127.0.0.1",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyS2",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "115200",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "1000",
        "parallelUnitIdsAllowed": true
    },
    {
        "id": "fb54f6a9.f24368",
        "type": "serial-port",
        "z": "888cc5d1.4424c8",
        "serialport": "/dev/ttyUSB0",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "",
        "bin": "false",
        "out": "count",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "7c812aed.2d3a44",
        "type": "modbus-client",
        "z": "888cc5d1.4424c8",
        "name": "iot2050 advanced configuration",
        "clienttype": "simpleser",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "tcpHost": "127.0.0.1",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB0",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "115200",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "1000",
        "parallelUnitIdsAllowed": true
    },
    {
        "id": "a9ab1d72.df68a",
        "type": "serial out",
        "z": "50be4feb.50509",
        "name": "serial out",
        "serial": "1273665b.f6db8a",
        "x": 760,
        "y": 120,
        "wires": []
    },
    {
        "id": "4567008d.c574d",
        "type": "inject",
        "z": "50be4feb.50509",
        "name": "inject serial out",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Example-123",
        "payloadType": "str",
        "x": 366,
        "y": 120,
        "wires": [
            [
                "a9ab1d72.df68a"
            ]
        ]
    },
    {
        "id": "8296ff2e.608eb",
        "type": "serial in",
        "z": "50be4feb.50509",
        "name": "serial in",
        "serial": "1273665b.f6db8a",
        "x": 310,
        "y": 282,
        "wires": [
            [
                "29610709.91c3a8"
            ]
        ]
    },
    {
        "id": "29610709.91c3a8",
        "type": "debug",
        "z": "50be4feb.50509",
        "name": "debug serial & modbus in",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 342,
        "wires": []
    },
    {
        "id": "50c7dc3f.1f6284",
        "type": "modbus-read",
        "z": "50be4feb.50509",
        "d": true,
        "name": "modbus in",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "",
        "dataType": "InputRegister",
        "adr": "0",
        "quantity": "50",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "48d94f41.f3419",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 345,
        "y": 402,
        "wires": [
            [
                "29610709.91c3a8"
            ],
            []
        ]
    },
    {
        "id": "8e61a4c7.9958e8",
        "type": "modbus-write",
        "z": "50be4feb.50509",
        "d": true,
        "name": "modbus out",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "",
        "dataType": "MHoldingRegisters",
        "adr": "0",
        "quantity": "4",
        "server": "48d94f41.f3419",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 770,
        "y": 200,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "b003c8a5.92f948",
        "type": "inject",
        "z": "50be4feb.50509",
        "name": "inject modbus out",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[1,2,3,4]",
        "payloadType": "json",
        "x": 366,
        "y": 200,
        "wires": [
            [
                "8e61a4c7.9958e8"
            ]
        ]
    },
    {
        "id": "cba8c42c.78d378",
        "type": "comment",
        "z": "50be4feb.50509",
        "name": "Example 1: Output",
        "info": "",
        "x": 150,
        "y": 120,
        "wires": []
    },
    {
        "id": "1096c8f9.a6c127",
        "type": "comment",
        "z": "50be4feb.50509",
        "name": "Example 2: Output",
        "info": "",
        "x": 150,
        "y": 200,
        "wires": []
    },
    {
        "id": "541b6371.a3148c",
        "type": "comment",
        "z": "50be4feb.50509",
        "name": "Example 1: Output",
        "info": "",
        "x": 150,
        "y": 280,
        "wires": []
    },
    {
        "id": "eff9af56.f8536",
        "type": "comment",
        "z": "50be4feb.50509",
        "name": "Example 2: Output",
        "info": "",
        "x": 150,
        "y": 400,
        "wires": []
    },
    {
        "id": "a55e1efe.336be",
        "type": "serial out",
        "z": "888cc5d1.4424c8",
        "name": "serial out",
        "serial": "fb54f6a9.f24368",
        "x": 760,
        "y": 120,
        "wires": []
    },
    {
        "id": "77aec8b5.805be8",
        "type": "inject",
        "z": "888cc5d1.4424c8",
        "name": "inject serial out",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Example-123",
        "payloadType": "str",
        "x": 366,
        "y": 120,
        "wires": [
            [
                "a55e1efe.336be"
            ]
        ]
    },
    {
        "id": "73c6cd42.f91e04",
        "type": "serial in",
        "z": "888cc5d1.4424c8",
        "name": "serial in",
        "serial": "fb54f6a9.f24368",
        "x": 310,
        "y": 282,
        "wires": [
            [
                "68395ed9.3a78a"
            ]
        ]
    },
    {
        "id": "68395ed9.3a78a",
        "type": "debug",
        "z": "888cc5d1.4424c8",
        "name": "debug serial & modbus in",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 342,
        "wires": []
    },
    {
        "id": "9c0bc110.4cb32",
        "type": "modbus-read",
        "z": "888cc5d1.4424c8",
        "d": true,
        "name": "modbus in",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "",
        "dataType": "InputRegister",
        "adr": "0",
        "quantity": "50",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "7c812aed.2d3a44",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 345,
        "y": 402,
        "wires": [
            [
                "68395ed9.3a78a"
            ],
            []
        ]
    },
    {
        "id": "c01a1f1.5a868e",
        "type": "modbus-write",
        "z": "888cc5d1.4424c8",
        "d": true,
        "name": "modbus out",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "",
        "dataType": "MHoldingRegisters",
        "adr": "0",
        "quantity": "4",
        "server": "7c812aed.2d3a44",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 770,
        "y": 200,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "7458b9c9.30c9a8",
        "type": "inject",
        "z": "888cc5d1.4424c8",
        "name": "inject modbus out",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[1,2,3,4]",
        "payloadType": "json",
        "x": 366,
        "y": 200,
        "wires": [
            [
                "c01a1f1.5a868e"
            ]
        ]
    },
    {
        "id": "5cb1644a.73cf1c",
        "type": "comment",
        "z": "888cc5d1.4424c8",
        "name": "Example 1: Output",
        "info": "",
        "x": 150,
        "y": 120,
        "wires": []
    },
    {
        "id": "725f0cb5.fb2b94",
        "type": "comment",
        "z": "888cc5d1.4424c8",
        "name": "Example 2: Output",
        "info": "",
        "x": 150,
        "y": 200,
        "wires": []
    },
    {
        "id": "4731bed4.7850c",
        "type": "comment",
        "z": "888cc5d1.4424c8",
        "name": "Example 1: Output",
        "info": "",
        "x": 150,
        "y": 280,
        "wires": []
    },
    {
        "id": "b88dab1c.0d7a08",
        "type": "comment",
        "z": "888cc5d1.4424c8",
        "name": "Example 2: Output",
        "info": "",
        "x": 150,
        "y": 400,
        "wires": []
    },
    {
        "id": "af8be60f.0a0958",
        "type": "comment",
        "z": "50be4feb.50509",
        "name": "IOT2050 BASIC",
        "info": "",
        "x": 140,
        "y": 60,
        "wires": []
    },
    {
        "id": "9dee8bd7.43b7a8",
        "type": "comment",
        "z": "888cc5d1.4424c8",
        "name": "IOT2050 ADVANCED",
        "info": "",
        "x": 160,
        "y": 60,
        "wires": []
    }
]